.newUser {
    flex: 4;
    padding: 20px;
}

.newUserForm {
    display: flex;
    flex-wrap: wrap;
}

.newUserItem {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}

.newUserItem > label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(99, 97, 97);
}

.newUserItem > input {
    height: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.newUserGender > input {
    margin-top: 10px;
}

.newUserGender > label {
    margin: 8px;
    font-size: 16px;
    color: #555;
}

.newUserSelect {
    height: 40px;
    border-radius: 5px;
}

.newUserButton {
    width: 150px;
    border: none;
    background-color: rgb(4, 148, 83);
    color: white;
    padding: 5px 7px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 40px;
    cursor: pointer;
}