.chart {
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 15px -4px rgba(0,0,0,0.2); 
    box-shadow: 1px 1px 15px -4px rgba(0,0,0,0.2);
}

.charTitle {
    font-size: 20px;
    margin-bottom: 20px;
}